set ignorecase
set smartcase
set incsearch
set tabstop=4
set shiftwidth=4
set backspace=eol,start,indent
set nostartofline
set hlsearch
set autoindent
set expandtab
set ttimeout
set ttimeoutlen=50

""" vim-sensible settings that work in IdeaVim
set nrformats-=octal
set incsearch
nnoremap <silent> <C-L> :nohlsearch<CR>
set scrolloff=5    " vim-sensible overrides to 1 if not set, but set in defaults.vim
set sidescrolloff=5
set history=1000   " overrides the 200 in defaults.vim

" <leader> is space
nnoremap gj i<cr><esc>k$
nnoremap s /
nnoremap S ?
nnoremap zy  zt5<c-y>
nnoremap g; u<c-r>

" Toggle case and start typing. E.g. `<leader>iget`: `property` -> `getProperty`
nmap <leader>i ~hi
" Remove selection and toggle case. E.g. `v2l<leader>u`: `getProperty` -> `property`
vmap <leader>u d~h

""" IdeaVim options
" Smart join for <C-J>
set ideajoin
" Map vim marks to IDEA global marks
set ideamarks


""" IdeaVim actions
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Keys from vim-gitgutter
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)
" Not from vim-gitgutter. ={motion} is for indenting. =c does nothing
nmap =c <Action>(VcsShowCurrentChangeMarker)

nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

nmap gd <Action>(GotoTypeDeclaration)
nmap gr <Action>(FindUsages)
nmap grr <Action>(FindUsagesInFile)
nmap gf <Action>(Forward)
nmap gh <Action>(ShowHoverInfo)
nmap gi <Action>(ReSharperGotoImplementation)
nmap gL <Action>(ActivateProjectToolWindow)
nmap gn <Action>(SearchEverywhere)

nmap <leader>b <Action>(ToggleLineBreakpoint)
if &ide =~? 'rider'
  nmap <leader>c <Action>(RiderShowIncomingCalls)
else
  nmap <leader>c <Action>(CallHierarchy)
endif

" Highlight usages, use CMD+G/Shift+CMD+G to iterate
nmap <leader>h <Action>(HighlightUsagesInFile)
nmap <leader>n <Action>(ReSharperNavigateTo)
nmap <leader>p <Action>(ParameterInfo)
nmap <leader>q <Action>(ToggleRenderedDocPresentation)
nmap <leader>r <Action>(Refactorings.QuickListPopupAction)
xmap <leader>r <Action>(Refactorings.QuickListPopupAction)
nmap <leader>s <Action>(ShowUsages)
nmap <leader>t <Action>(TypeHierarchy)
nmap <leader>u <Action>(FindUsages)
nmap <leader>v <Action>(Vcs.QuickListPopupAction)
nmap <Leader>w <action>(ActiveToolwindowGroup)
nmap <leader>x <Action>(HideAllWindows)

" idea actions
nmap <C-.> <Action>(ShowIntentionActions)
nmap <C--> <Action>(Back)
nmap <C-/> <Action>(Forward)

" build
nmap <C-b> <Action>(BuildWholeSolution)
nmap <C-b>r <Action>(RebuildWholeSolution)
nmap <C-r> <Action>(Run)
nmap <C-s> <Action>(Stop)

nmap <C-j> <Action>(MoveLineDown)
xmap <C-j> <Action>(MoveLineDown)
nmap <C-k> <Action>(MoveLineUp)
xmap <C-k> <Action>(MoveLineUp)

command Wrap action EditorToggleUseSoftWraps

""" Window manipulation
nmap gwv <Action>(SplitVertically)
nmap gwu <Action>(Unsplit)
